<%-include("./partials/header")%>
<form method="POST" action="/users/login">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
    />
  </div>
  <button type="submit">Sign In</button>
</form>

<%-include("./partials/footer")%>
